<div class="letters">
    <div class="letters__nav">
        <div 
            *ngFor="let letter of letters; let i = index"
            class="letters__item"
            (click)="selectLetter(i)"
        >
            {{letter.letter}}
            <!-- <div class="letters__item-header">
                {{letter.letter}}
            </div>
            <div class="letters__item-body">
                <div class="letters__icons-container">
                    <div class="letters__item-action">
                        <div class="sri-icon letters__item-icon">
                            <svg>
                                <use xlink:href="#icon-eye"></use>
                            </svg>
                        </div>
                        <span>Տեսնել</span>
                    </div>
                    <div class="letters__item-action">
                        <div class="sri-icon letters__item-icon">
                            <svg>
                                <use xlink:href="#icon-edit"></use>
                            </svg>
                        </div>
                        <span>Խմբագրել</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    
    <sri-letter-options
        [letter]="letters[currentSelectedLetter]['letter']"
    ></sri-letter-options>

    <div class="letters__buttons">
        <button 
            (click)="toNextLetter()"
            class="letters__button"
        >
            Next letter
        </button>
        <button 
            class="letters__button"
            (click)="emitSelected()"
        >
            Use defaults and proceed
        </button>
    </div>
</div>