<div class="theme">
    <div class="theme__suggested">
        <div
            *ngFor="let theme of suggested"
            class="theme__item"
            (click)="emitSelected(theme.id)"
            [ngStyle]="{'background': 'url(' + theme.imageUrl + ')' }"
        >
            <div class="theme__title">
                {{theme.title}}
            </div>
        </div>
    </div>

    <button (click)="changeDisplayCondition()">
        {{ showAll ? 'Hide' : 'Load more'}}
    </button>
    
    <div 
        *ngIf="showAll"
        class="theme__others"
    >
        <div 
            *ngFor="let theme of others"
            class="theme__item"
            (click)="emitSelected(theme.id)"
            [ngStyle]="{'background': 'url(' + theme.imageUrl + ')' }"
        >
            <div class="theme__title">
                {{theme.title}}
            </div>
        </div>
    </div>
</div>