<section class="create">

    <nav class="create__navigation">
        <div
            *ngFor="let state of states"
            class="create__navigation-item"
            [ngClass]="{
                'create__navigation-item--disabled': !state.isActive,
                'create__navigation-item--active': this.currentState === state.state,
                'create__navigation-item--selected': state.isSelected
            }"
            (click)="changeState(state)"
        >
            {{state['title']}}
        </div>
    </nav>

    <section class="create__form">
        <sri-gender 
            *ngIf="currentState === createStates.gender"
            (select)="catchEmits($event, 'gender')"
        >
        </sri-gender>

        <sri-name 
            *ngIf="currentState === createStates.name"
            (select)="catchEmits($event, 'name')"
            [name]="selectedOptions.name"
        >
        </sri-name>
        
        
        <sri-theme 
            *ngIf="currentState === createStates.theme"
            (select)="catchEmits($event, 'theme')"
            [themes]="bookOptions.themes"
            [selectedOptions]="selectedOptions"
        >
        </sri-theme>
        
        <sri-style
            *ngIf="currentState === createStates.style"
            (select)="catchEmits($event, 'style')"
            [styles]="bookOptions.styles"
            [selectedOptions]="selectedOptions"
        >
        </sri-style>
        
        <sri-letters 
            *ngIf="currentState === createStates.letters"
            [name]="'ani'"
            (select)="catchEmits($event, 'letters')"
        >
        </sri-letters>
        
        <sri-type 
            *ngIf="currentState === createStates.type"
            [types]="bookOptions.types"
        >
        </sri-type>
        
        <sri-preview *ngIf="currentState === createStates.preview">
        </sri-preview>
        
        <sri-order *ngIf="currentState === createStates.order">
        </sri-order>
    </section>
    
</section>
